.shanghai{
	background-color: #F3F9FB;
}

.g-content-shanghai{
	margin: 0 auto;
	padding: 157px 0 250px 135px;

	@media(max-width:1280px){
		padding: 94px 0 250px 80px;
	}

	@media(max-width:992px){
		padding: 50px 0;
	}
}

.shanghai-title{
	font-weight: bold;
	font-size: 32px;
	line-height: 52px;

	@media(max-width:1280px){
		font-size: 26px;
		line-height: 36px;
	}
}

.shanghai-title--mobile{
	display: none;

	@media(max-width:992px){
		display: inline-block;
		padding-left: 20px;
	}
}

.shanghai-title__sub{
	font-size: 14px;
	line-height: 20px;
	color: #85C7D3;
}

.shanghai-title__sub--mobile{
	display: none;

	@media(max-width:992px){
		display: block;
		padding-left: 20px;
		padding-bottom: 25px;
	}
}

.shanghai-content-wrapper{
	display: flex;

	@media(max-width:992px){
		flex-direction: column-reverse;
	}
}

.shanghai-content-desc{
	@media(max-width:1439px){
		margin-right: 10px;
	}
}

.shanghai-title--desktop{
	margin-top: 120px;

	@media(max-width:1280px){
		margin-top: 11px;
	}

	@media(max-width:992px){
		display: none;
	}
}

.shanghai-title__sub--desktop{
	@media(max-width:992px){
		display: none;
	}
}

.shanghai-descr{
	font-size: 16px;
	line-height: 25px;
	color:#7B7B7B;
	margin-top: 30px;

	@media(max-width:1280px){
		margin-top: 24px;
	}

	@media(max-width:992px){
		padding-left: 20px;
	}
	
}

.shanghai-section{
	margin-top: 44px;
	display: flex;
	align-items: baseline;

	@media(max-width:1280px){
		flex-direction: column-reverse;
		margin-top: 24px;
	}

	@media(max-width:992px){
		padding-left: 20px;
	}
}

.shanghai-section__link{
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	background-color:#F2994A;
	padding: 14px 50px;
	display: inline-block;
	border-radius: 12px;
	transition: linear 0.4s;
	border: 3px solid transparent;
	box-sizing: border-box;
	max-height: 62px;

	&:hover, &:focus{
		border: 3px solid #bb5700;
		text-decoration: none;
		color: #bb5700;
		background-color: transparent;
	}

	@media(max-width:1280px){
		padding: 14px 50px;
	}

	@media(max-width:992px){
		padding: 8px 54px;
    	margin-top: 25px;
    	font-size: 16px;
	}
}

.shanghai-section__price{
	margin-left: 30px;
	font-weight: bold;
	color: #000000;
	font-size: 24px;
	line-height: 43px;

	@media(max-width:1280px){
		margin-left: 0;
	}

	@media(max-width:992px){
		line-height: initial;
	}
}

.shanghai__price--sub{
//	vertical-align: sub;
	font-weight: normal;
	font-size: 16px;
}

.shanghai-image-wrap{
	position: relative;
}

.shanghai-image__img{
	min-height: 528px;
	min-width: 905px;
	border-radius: 30px 0 0 30px;
	
	@media(max-width:1439px){
		min-height: 384px;
		min-width: 660px;
	}

	@media(max-width:992px){
		min-height: 187px;
		min-width: 100%;
		border-radius:0;
	}
}

.shanghai-image__desc{
	position: absolute;
	padding: 37px 40px;
	background-color: #85C7D3;
	border-radius: 12px;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	max-width: 467px;
	display: block;
	bottom: -100px;
	right: 135px;

	@media(max-width:1280px){
		bottom: -150px;
		right: 80px;
	}

	@media(max-width:992px){
		display: none;
	}
}

.image__desc--bold{
	font-weight: bold;
	font-size: 20px;
	line-height: 35px;
	padding-top: 13px;
	display: block;
}